{% extends "base.html" %}

{% block title %}Register - UniTrade{% endblock %}

{% block content %}
<div class="auth-container">
    <h2 class="auth-title">Regiter</h2>
    
    {% if messages %}
        {% for message in messages %}
            <p style="color: {% if 'error' in message.tags %}red{% else %}green{% endif %}; font-weight: bold; text-align: center;margin-top: 20px;">
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}

    <form method="post" class="auth-form">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit" class="btn-publish btn-submit">Register</button>
    </form>

    <p style="text-align: center; margin-top: 20px;">
        Already have an account???
        <a href="{% url 'user:user_login' %}" style="color: #007bff; text-decoration: none; font-weight: bold;">Login</a>
    </p>
</div>
{% endblock %}
