<!DOCTYPE html>
<html>
<head>
    <title>UniTrade Login Demo</title>
</head>
<body>

<h2>Unitrade Login Demo</h2>

{% if messages %}
    {% for message in messages %}
        <p style="color:
            {% if 'error' in message.tags %}
                red
            {% else %}
                green
            {% endif %};">
            {{ message }}
        </p>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>

<a href="{% url 'user:user_register' %}">Register</a>

</body>
</html>
